/*
  COLORS:
    Dark-theme gray: #2e2e2e
    Terminal Green: #028c00;
    Soft white: #f2f2f2
    Light gray: #ddd;
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:wght@400');

body {
  background-color: black;
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'Raleway';
  color: white;
}

.menuBar {
  background-color: #2e2e2e;
  margin-bottom: 20px;
  overflow: hidden;
}

a {
  color: #028c00;
}

.menuBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17px;
}

.menuBar a:hover {
  background-color: #ddd;
  color: black;
}

.menuBar a.active {
  background-color: #028c00;
  color: white;
}

.default {
  background-color: #2e2e2e;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 15px;
  color: white;
}

iframe {
  border: 0px;
  width: 320px;
  height: 180px;
}

header {
  font-family: Arial;
}
