<!doctype html>

<body>
  <header>
    <h1>Learn Cybersecurity & Ethical Hacking 101</h1>
  </header>

  <nav class="navbar">
    <div class="nav-wrapper">
      <a id="home" href="../build/index.html" style="margin:0px; padding:0px;"><img src="../build/images/logo.png" style="width: 65px; height:65px;"/></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a id="hackers" href="../build/hackers.html">Types of Hackers</a></li>
        <li><a id="malware" href="../build/malware.html">Types of Malware</a></li>
        <li><a id="hacks" href="../build/hacks.html">Types of Hacks</a></li>
        <li><a id="software" href="../build/software.html">Cybersecurity Software</a></li>
        <li><a id="blogs" href="../build/blogs.html">Blogs</a></li>
        <li><a id="about" href="../build/about.html">About</a></li>
      </ul>
    </div>
  </nav>
