<!doctype html>

<footer class="page-footer">
  <div class="footer-copyright">
    <p style="text-align: center; color:gray;">
      © 2020 Ursula C. Parker
    </p>
  </div>
</footer>

<script src="js/scripts.js"></script>

</body>

</html>
