<!doctype html>

<%- include('global/header'); %>
<%- include('global/navbar'); %>
  <script>
    document.title = "About"
    var element = document.getElementById("about");
    element.classList.add("active");
  </script>


  <div class="default">
    <h1 style="text-align: center">About</h1>
    <h2 style="text-align: center">Why Cybersecurity & Ethical Hacking?</h2>
    <br />
    <p>Cybersecurity is the study of how we can make internet-connected devices safer. This includes learning about malware, web-based attack vectors, and different types of hackers.
    Ethical Hacking, or "white hat" hacking is a legal form of hacking where hackers try to find possible security hazards in various products. There are many different types of software that can be used to aid in this mission of "pen-testing".</p>
    <p>I am interested in this topic because I believe that cybersecurity is becoming more important as we start to live more and more of our lives on the internet. I believe that a lack of cybersecurity should be considered a public safety concern, especially when it affects people's privacy and creates a possible leakage of sensitive information.</p>
    <p>Here are some resources if you want to learn more:</p>
    <p style="margin-left: 25px;">-  <a href="https://www.hacksplaining.com/">Hacksplaining</a> (learn about different types of hacks)</p>
    <p style="margin-left: 25px;">-  <a href="https://www.hackerone.com/">Hackerone</a> (learn about why ethical hacking matters)</p>
    <p style="margin-left: 25px;">-  <a href="https://www.hackerone.com/">Kali Linux</a> (learn about an OS that helps pen-testers across the world)</p>
  </div>

<%- include('global/footer'); %>
