<!doctype html>

<%- include('global/header'); %>
<%- include('global/navbar'); %>
<script>
  document.title = "Software"
  var element = document.getElementById("software");
  element.classList.add("active");
</script>

  <div class="default">
    <h1 style="text-align: center">Types of Cybersecurity Software</h1>
    <h2><% title %></h2>

  </div>

<%- include('global/footer'); %>
